<%- include("../layouts/header.ejs") %>
<%- include("../layouts/body.ejs") %>
<form action="/newPassword" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="hidden" name="userId" value="<%= userId %>">
        <input type="hidden" name="passwordToken" value="<%= token %>">
            <div class="form-control">
                <label for="password">New Password :</label>
                <input type="password" name="password" id="password" placeholder="*********">
            </div>
            <!-- <div class="form-control">
                <label for="cpassword">Confirm New Password :</label>
                <input type="cpassword" name="cpassword" id="cpassword" placeholder="*********">
            </div> -->
            <button type="submit" class="btn_login">Update Password</button>
        </div>
</form>
<%- include("../layouts/footer.ejs") %>