<%- include("../layouts/header.ejs") %>
<%- include("../layouts/body.ejs") %>

<% if(product.length > 0) { %>
    <div class="cart-card">
        <%product.forEach(p => { %>
            <div class="cart_items">
                <h1><%= p.productId.title %></h1>
                <h1><%= p.quantity %></h1>
                <form action="/cart-delete-item" method="post">
                    <input type="hidden" value="<%= p.productId._id %>" name="productId">
                    <button class="btn_delete">Delete</button>
                </form>
            </div>
        <% }) %>
        <form action="/create-order" method="POST">
            <button type="submit">Order Now !</button>
        </form>
    </div>
<% } else {%>
    <h1>No Products in Cart!</h1>
<% } %>




<%- include("../layouts/footer.ejs") %>
