<%- include("../layouts/header.ejs") %> <%- include("../layouts/body.ejs") %> <%
if(products.length > 0) { %>
<div class="cart-card">
  <% products.forEach(p => { %>
  <div class="cart_items">
    <h1><%= p.productId.title %></h1>
    <h1><%= p.quantity %></h1>
  </div>
  <% }) %>
  <div>
    <h2>Total: <%= totalSum %></h2>
  </div>
  <div>
    <button id="order-btn" class="btn">ORDER</button>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
      // Set your publishable key: remember to change this to your live publishable key in production
      // See your keys here: https://dashboard.stripe.com/account/apikeys
      var stripe = Stripe(
        "pk_test_51GtSFvH6V8a4bNufCygjhzR9vMtuppdkBLuA2hoM0sXkBeC7K8gIgpQCDUUb9hfeTLouQdsdce9N9HaobFxqeNde006kCTpGGF"
      );
      var orderBtn = document.getElementById("order-btn");
      orderBtn.addEventListener("click", function(){
        stripe.redirectToCheckout({
                sessionId: "<%= sessionId %>"
        });
      });
    </script>
  </div>
</div>
<% } %> <%- include("../layouts/footer.ejs") %>
