<%- include("../layouts/header.ejs") %>
<%- include("../layouts/body.ejs") %>
<% if(data.length > 0) { %>
    <ol>
        <% data.forEach(order => { %>
            <li>
                <h1># Order ID <%= order._id  %></h1>
                <% let total = 0; order.products.forEach(product => { %>
                    <ul>
                        <li>
                            <h2><%= product.productData.title %>(<%= product.quantity %>)</h2>
                            <% total = total + (product.productData.price* product.quantity) %>
                        </li>
                    </ul>
                <% }) %>
                <hr>
                <h2>Total is Rs. <%= total %></h2>
                <hr>
            </li>
        <% }) %>
    </ol>
<% } else { %>
    <h1>No Orders</h1>
<% } %>
<%- include("../layouts/footer.ejs") %>
