<%- include("../layouts/header.ejs") %>
<%- include("../layouts/body.ejs") %>
        <h1>Product Name</h1>
        <% if(productList.length > 0){ %>
                <% for(var x in productList){%>
                        <article class="article-main">
                                <div class="article-head">
                                        <h1><%= productList[x].title %></h1>
                                </div>
                                <div class="article-body">
                                        <img src="/<%= productList[x].imageUrl%>" alt="No Image Found">
                                </div>
                                <div class="article-foot">
                                        <p><%= productList[x].description %></p>
                                        <h3>Price : <%= productList[x].price %></h3>
                                </div>
                                <div class="btn-action">
                                        <a href="/products/<%= productList[x]._id %>"><button class="btn_details">Details</button></a>
                                        <% if(isAuthenticated) { %>
                                                <form action="/add-to-cart" method="post">
                                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                        <input type="hidden" name="productId" value="<%= productList[x]._id %>">
                                                        <button class="btn_cart" type="submit">Add to Cart</button>
                                                </form>
                                        <% } %>
                                </div>
                        </article>
                <% }%>
                <%- include("../layouts/pagination.ejs",{currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage:hasNextPage, hasPreviousPage: hasPreviousPage}) %>
        <% }else{ %>
                <h3>No Data Found</h3>
        <% } %>
        
<%- include("../layouts/footer.ejs") %>
